In [1]:
import pandas as pd
import numpy as np

In [2]:
metrix_list = ['views','comments','likes']
metric_list = ['rmse','r2','mae']
model_list = ['als','coll_inf','coll_keyword','mlp_mf','ncf','svd']

In [3]:
result_r2=[]
result_mae=[]
result_rmse=[]

indexes=[]
for model in model_list:
    for metric in metric_list:
        data = pd.read_csv(f'files/metric/eval_org/{model}_{metric}.csv',index_col=0)
        indexes.append(f'{model}_{metric}')
        
        if metric == 'rmse':
            result_rmse.append(data.iloc[0].tolist())
        elif metric == 'mae':
            result_mae.append(data.iloc[0].tolist())
        elif metric == 'r2':
            result_r2.append(data.iloc[0].tolist())

In [4]:
result_r2

[[0.0031303686036338, -0.0001658485491351, 0.0032146521487188],
 [-11.502786144462016, -21.926870533326134, -6.049776601300249],
 [-6.640889037420369, -10.62503431474194, -2.984106449336933],
 [0.0256276280346665, -0.0035921193305366, -0.0002509900871974],
 [0.0540909836455544, 0.0019293326389414, 0.0136947451626291],
 [0.2188181683361987, -0.222708220377932, 0.4124544061219681]]

In [5]:
df_r2 = pd.DataFrame(data=result_r2,index=model_list,columns=metrix_list)

In [6]:
df_rmse = pd.DataFrame(data=result_rmse,index=model_list,columns=metrix_list)

In [7]:
df_mae = pd.DataFrame(data=result_mae,index=model_list,columns=metrix_list)

In [8]:
import matplotlib.pyplot as plt

import seaborn as sns

In [9]:
df_mae

                      views    comments        likes
als           350870.990841  649.212664  5843.097483
coll_inf      163562.374501  181.673257  2365.430065
coll_keyword  123214.018469  155.295116  1796.128856
mlp_mf        322236.291278  427.016298  6818.387006
ncf           270764.292281  211.386684  4975.570967
svd           144835.834556  134.907401  1926.453861

In [10]:
df_rmse

                     views      comments          likes
als           5.857968e+06  48913.400634  155562.391129
coll_inf      6.040435e+05    457.342235    5652.823350
coll_keyword  5.860596e+05    438.937187    5204.125168
mlp_mf        1.335142e+06   4435.660489   55869.482830
ncf           1.191986e+06   2587.570273   41039.225284
svd           5.637678e+05    404.718516    5935.869516

In [11]:
df_r2

                  views   comments     likes
als            0.003130  -0.000166  0.003215
coll_inf     -11.502786 -21.926871 -6.049777
coll_keyword  -6.640889 -10.625034 -2.984106
mlp_mf         0.025628  -0.003592 -0.000251
ncf            0.054091   0.001929  0.013695
svd            0.218818  -0.222708  0.412454

In [ ]:
ax = sns.heatmap(df_rmse['views'].to_frame())

plt.title('Heatmap of Flight by seaborn', fontsize=20)

plt.show()